AccessModifierOffset: '-4'
AllowAllConstructorInitializersOnNextLine : 'false'
AllowShortBlocksOnASingleLine : 'Always'
AllowShortCaseLabelsOnASingleLine : 'true'
AllowShortEnumsOnASingleLine : 'true'
AllowShortFunctionsOnASingleLine : 'Inline'
AllowShortIfStatementsOnASingleLine : 'WithoutElse'
AllowShortLambdasOnASingleLine : 'All'
AllowShortLoopsOnASingleLine : 'true'
BreakConstructorInitializers: 'BeforeColon'
ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
EmptyLineBeforeAccessModifier: 'Leave'
IndentWidth: '4'
MaxEmptyLinesToKeep: '1'
SortIncludes: 'true'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpacesBeforeTrailingComments: '1'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: 'c++20'
TabWidth: '4'
UseTab: Never
